/* fonts */

@font-face {
  src: url("../Assets/fonts/Aminetta\ \(free\).otf");
  font-family: "Aminetta";
}

/* universal padding */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* body / background */
body {
  width: 100%;
  height: 230vh;
  background-image: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* socials */
.socials {
  position: fixed;
  display: flex;
  top: 50%;
  z-index: 999;
  transition: 0.3s;
  left: 0%;
  background-color: rgb(30, 167, 172);
  flex-direction: column;
}

.socials a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 15px;
  transition: 0.2s;
}
.socials a:hover {
  transform: scale(1.4);
}

/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 999;
  transition: 0.3s;
  background-color: rgba(163, 163, 163, 0.4);
}
.navbar ul {
  display: flex;
  justify-content: center;
}
.navbar a {
  color: white;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding-left: 5vh;
  padding-right: 5vh;
  line-height: 10vh;
  transition: 0.3s;
}

/* hover effect on NAVBAR A tag */
.navbar a:hover {
  background-color: rgba(185, 185, 185, 0.3);
  font-size: 16px;
}

/* navbar effect when SCROLLING */
.navbar.active {
  background-color: rgb(36, 36, 36);
}
/* main wrapper */
.wrapper {
  overflow: hidden;
  width: 65%;
  height: 140vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  background-color: white;
  border-radius: 4px;
}
/* main-logo-text */

.main-logo-text {
  color: white;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-family: "Aminetta";
  font-size: 100px;
  font-weight: 100;
}
/* secondary-logo-text */

.secondary-logo-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

/* BEFORE/AFTER FOR SECONDARY LOGO TEXT */

.secondary-logo-text::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #fff;
  top: 50%;
  left: -80%;
}
.secondary-logo-text::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #fff;
  top: 50%;
  left: 120%;
}

/* -------------SECTIONS---------- */

.section {
  width: 100%;
  height: 47vh;
}
/* SECTION1 */

.section1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 0;
}

/* SECTION2 */
.section2 {
  position: relative;
}

.section2 h2 {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 300;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  padding: 4px;
  display: inline-block;
}
.section2 p {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* SECTION3 */
.section3 {
  display: flex;
  position: relative;
}
.quote-text p {
  margin-top: 10vh;
  padding: 50px;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
}
.section3 img {
  width: 50%;
  object-fit: cover;
  border-radius: 5px;
  height: auto;
  border: 0;
}
.section3 h2 {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 100;
  border: 1px solid black;
  color: black;
  left: 72%;
  top: 75%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: inline-block;
  transition: 0.2s;
}

/* hover effect on MORE INFO */

.section3 h2:hover {
  background-color: rgba(34, 29, 29);
  color: white;
}

/* FOOTER */

footer {
  width: 100%;
  height: 40vh;
  background: black;
  position: absolute;
  position: relative;
  top: 200vh;
}
footer .address {
  color: white;
  position: absolute;
  left: 20%;
  transform: translate(-50%);
  font-family: "Open Sans Condensed", sans-serif;
  top: 50%;
}
footer .phone {
  color: white;
  position: absolute;
  transform: translate(-50%);
  left: 40%;
  font-family: "Open Sans Condensed", sans-serif;
  top: 50%;
}
footer .mobile {
  color: white;
  position: absolute;
  transform: translate(-50%);
  left: 60%;
  font-family: "Open Sans Condensed", sans-serif;
  top: 50%;
}
footer .email {
  color: white;
  position: absolute;
  transform: translate(-50%);
  left: 80%;
  font-family: "Open Sans Condensed", sans-serif;
  top: 50%;
}

/* -------------------------MEDIA FOR IPAD -------------------- */

@media all and (max-width: 1024px) {
  body {
    height: 150vh;
  }
  footer {
    top: 150vh;
    height: 20vh;
  }
  .wrapper {
    height: 90vh;
    width: 80%;
  }
  .section {
    width: 100%;
    height: 30vh;
  }
  .section2 p {
    top: 55%;
    width: 600px;
    font-size: 21px;
  }
  .section3 h2 {
    position: absolute;
    left: 72%;
    font-size: 27px;
    top: 25%;
    transform: translate(-50%, -50%);
  }
  .section3 p {
    font-size: 21px;
  }
}
/* -------------------------MEDIA FOR SMALL IPAD -------------------- */

@media all and (max-width: 768px) {
  body {
    height: 150vh;
  }
  .wrapper {
    width: 85%;
    height: 90vh;
  }
  .section {
    width: 100%;
    height: 30vh;
  }
  .section2 p {
    top: 55%;
    width: 500px;
  }
  .section3 h2 {
    position: absolute;
    left: 72%;
    font-size: 16px;
    top: 25%;
    transform: translate(-50%, -50%);
  }
  .quote-text p {
    margin-top: 10vh;
    padding: 20px;
    font-size: 20px;
    font-family: "Open Sans Condensed", sans-serif;
  }
}
/* -------------------------MEDIA FOR PHONE -------------------- */

@media all and (max-width: 414px) {
  body {
    height: 150vh;
  }
  .wrapper {
    width: 85%;
    height: 90vh;
  }
  .section {
    width: 100%;
    height: 30vh;
  }
  .section2 p {
    font-size: 15px;
    top: 55%;
    width: 300px;
  }
  .section3 h2 {
    position: absolute;
    left: 72%;
    font-size: 16px;
    top: 25%;
    transform: translate(-50%, -50%);
  }
  .quote-text p {
    margin-top: 10vh;
    padding: 20px;
    font-size: 15px;
    font-family: "Open Sans Condensed", sans-serif;
  }

  .main-logo-text {
    color: white;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-family: "Aminetta";
    font-size: 80px;
    font-weight: 100;
  }

  .secondary-logo-text {
    font-size: 10px;
  }

  .secondary-logo-text::before {
    height: 1px;
    left: -120%;
  }
  .secondary-logo-text::after {
    height: 1px;
  }
  .navbar a {
    padding-left: 2vh;
    padding-right: 2vh;
  }
  .socials {
    position: absolute;
    display: flex;
    top: 10%;
    transition: 0.3s;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(30, 167, 172);
    flex-direction: row;
  }

  footer .address {
    font-size: 11px;
    left: 15%;
  }
  footer .phone {
    left: 42%;
    font-size: 11px;
  }
  footer .mobile {
    left: 65%;
    font-size: 11px;
  }
  footer .email {
    font-size: 11px;
    left: 87%;
  }
}
/* -------------------------MEDIA FOR PHONE -------------------- */

@media all and (max-width: 414px) {
  .section2 h2 {
    font-size: 20px;
  }
  .section2 p {
    font-size: 12px;
    top: 55%;
    width: 250px;
  }
  .section3 h2 {
    position: absolute;
    left: 72%;
    font-size: 8px;
    top: 25%;
    transform: translate(-50%, -50%);
  }
  .quote-text p {
    margin-top: 10vh;
    padding: 10px;
    font-size: 12px;
    font-family: "Open Sans Condensed", sans-serif;
  }
  footer {
    width: 103%;
  }
  footer .address {
    font-size: 9px;
    left: 15%;
  }
  footer .phone {
    left: 42%;
    font-size: 9px;
  }
  footer .mobile {
    left: 65%;
    font-size: 9px;
  }
  footer .email {
    font-size: 9px;
    left: 87%;
  }
}
